<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo"  column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardWriter" column="BOARD_WRITER"/>
		<result property="boardFileName" column="BOARD_FILENAME"/>
		<result property="boardFileRename" column="BOARD_FILERENAME"/>
		<result property="boardFilePath" column="BOARD_FILEPATH"/>
		<result property="boardFileLength" column="BOARD_FILELENGTH"/>
		<result property="boardCount" column="BOARD_COUNT"/>
		<result property="bCreateDate" column="B_CREATE_DATE"/>
		<result property="bUpdateDate" column="B_UPDATE_DATE"/>
		<result property="bStatus" column="B_STATUS"/>
	</resultMap>

	<insert id="insertBoard">
		INSERT INTO BOARD_TBL VALUES(SEQ_BOARD_NO.NEXTVAL, #{boardTitle }, #{boardContent }, #{boardWriter }, #{boardFileName }, #{boardFileRename },#{boardFilePath }, #{boardFileLength }, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<delete id="deleteBoard">
		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo} AND B_STATUS = 'Y'
	</delete>
	
	<update id="modifyBoard">
		UPDATE BOARD_TBL SET BOARD_TITLE = #{boardTitle }, BOARD_CONTENT = #{boardContent }, BOARD_FILENAME = #{boardFileName }, BOARD_FILERENAME = #{boardFileRename }, BOARD_FILEPATH = #{boardFilePath },  BOARD_FILELENGTH = #{boardFileLength }, B_UPDATE_DATE = DEFAULT WHERE BOARD_NO = #{boardNo }
	</update>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL
	</select>
	
	<select id="selectBoardList" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectBoardByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo }
	</select>
</mapper>